{% comment %}
	
 ** Template for the events page
	Rendered when menu item is clicked
	
 ** This is inefficient - should
	{% include "/feeds/events_feed.html " %}
	or block it out rather than copying the 
	events_feed template

{% endcomment %}

<header>
  <h2>Events Page</h2>
</header>


<nav class="page-utility-nav">
  <p id="showCalendar">Switch to Calendar View</p>
  <ul class="calendar-toggled"id="calendarViews">
    <li id="dailyView">Daily</li>
    <li id="weeklyView">Weekly</li>
    <li id="monthlyView">Monthly</li>
  </ul>
</nav>

<ul class="feed-items">
  
  {% for e in events %}

  <li>

    <article class="feed-item-single">

      <h1 class="feed-item-title">{{ e.name }}</h1>

      <div class="feed-item-content">
        <ul>
          <li><time datetime="">{{ e.dtstart }}</time> - <time datetime="">{{ e.dtend }}</time></li>
          <li>Hosted By: <a href="">{{ e.place }}</a></li>
          <li>{{ e.place.location.address }}</li>
          <li>12{{ e.attendees }} plan to attend</li>
          <li>{{ e.description|truncatewords:10|urlizetrunc:15 }}</li>
          <li><a href="">Go to Event Page</a></li>
        </ul>
      </div> <!-- .page-item-content -->

      <div class="feed-item-thumb">
        <img class="thumbnail" width="100" height="100" alt="{{ e.name }}" src="{{ e.image_url }}" />
      </div>

      <div class="feed-item-tags">
        <ul class="tags-list">
          <li>A Place</li>
          <li>Holder</li>
          <li>For Tags</li>
        </ul>
      </div>

    </article> <!-- .page-item -->

  </li>

{% endfor %}

</ul>

{% comment %}
  Here is the calendar.
  We'll need daily, weekly (or bi-weekly), and monthly views.
  To be revealed when the "Calendar view" option is chosen.
{% endcomment %}


<!-- Calendar View -->

<section class="calendar-view calendar-toggled">

  <header>
    <h3 class=".calendar-view-title">Calendar View: Monthly</h3>
  </header>

  <ul class="calendar">
    {% for e in events %}
      <li class="monthly-day">
        <p>{{ e.name }}</p>
      </li>
    {% endfor %}
  </ul>

</section>

<!-- if it is "Events page" -->
<div>
  Map Goes here
</div>

<!-- if it is in "At a glance.." .. -->
<footer>
  <a href="" class="see-more"><a>More events...</a>
</footer>


