{% comment %}
template for the Places page
{% endcomment %}

<header>
  <h2>Places</h2>
</header>

<div class="filter-items">
  <select>
    <option>Add some filters...</option>
    <option>Restaurant</option>
    <option>Retail</option>
    <option>Cheap</option>
    <option>Carnegie Mellon</option>
    <option>Recreation</option>
    <option>Bars</option>  
  </select>
</div>

<ul>

  {% for e in establishments %}

  <li>
    <article class="page-item">

      <h1 class="page-item-title">{{ e.name }}</h1>

      <div class="page-item-content">
        <ul>
          <li>{{ e.location.address }}</li>
          <li>
            <p class="expand-details">Details...</p>
            <ul class="page-item-details">
              <li>{{ e.hours }}</li>
              <li>{{ e.phone_number }}</li>
              <li>{{ e.description }}</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="feed-item-thumb">
        <img class="thumbnail" width="100" height="100" alt="{{ e.name }}" src="{{ e.owner.identity.avatar }}" />
      </div>

      <div class="feed-item-tags">
        <ul class="tags-list">
          <li>A Place</li>
          <li>Holder</li>
          <li>For Tags</li>
        </ul>
      </div>

    </article>
  </li>

{% endfor %}

</ul>