{% comment %}
template to be included inside ul#offersFeed
{% endcomment %}

{% for o in offers|slice:":4" %}

  <li class="feed-item">
    <article class="feed-item-container">
      <h1 class="feed-item-title">{{ o.description }}</h1>
      <div class="feed-item-content">
        <ul>
          <li>{{ o.sponsor }}</li>
          <li><time datetime="">Date deal ends</time></li>
          <li><a href="">Details...</a></li>
        </ul>
        <a href="#grabbitModal" name="modal">Grabbit!</a>
      </div>
      <div class="feed-item-thumb">
        <img src="{{ o.sponsor.avatar }}" width="100" height="100" alt="{{ o.name }}" />
      </div>
    </article>
  </li>

{% endfor %}