{% comment %}
template for the Places page
{% endcomment %}

<header>
  <h2>Upcoming Events</h2>
  <nav class="page-utility-nav">
    <p>Switch View</p>
    <ul>
      <li>Daily</li>
      <li>Weekly</li>
      <li>Monthly</li>
    </ul>
  </nav>
</header>


<ul>
  
  {% for e in events %}

  <li>

    <article class="page-item">

      <h1 class="page-item-title">{{ e.name }}</h1>

      <div class="page-item-content">
        <ul>
          <h1>It is {% now "jS F Y H:i" %}</h1>
          <li><time datetime="">{{ e.dtstart }}</time> - <time datetime="">{{ e.dtend }}</time></li>
          
          <li>Hosted By: <a href="">{{ e.place }}</a></li>
          
          <li>{{ e.place.location.address }}</li>
          
          <li>{{ e.description|truncatewords:10|urlizetrunc:15 }}</li>
          
          <li>
            <p class="expand-details">Details...</p>
            <ul class="page-item-details">
              <li>{{ e.description|urlizetrunc:25 }}</li>
              <li>{{ e.attendees }} plan to attend</li>
            </ul>
          </li>

        </ul>
      </div> <!-- .page-item-content -->

      <div class="feed-item-thumb">
        <img class="thumbnail" width="100" height="100" alt="{{ e.name }}" src="{{ e.image_url }}" />
      </div>

      <div class="feed-item-tags">
        <ul class="tags-list">
          <li>A Place</li>
          <li>Holder</li>
          <li>For Tags</li>
        </ul>
      </div>

    </article> <!-- .page-item -->

  </li>

{% endfor %}

</ul>

{% comment %}
Here is the calendar.
We'll need daily, bi-weekly, and monthly views.
To be revealed when the "Calendar view" option is chosen.
{% endcomment %}

<!-- Daily -->

<h3>Daily events calendar</h3>
<ul>
  {% for e in events|slice:":2" %}
    <li class="daily-event">
      <p>Daily events list</p>
    </li>
  {% endfor %}
</ul>

<!-- Weekly -->
<h3>Weekly events calendar</h3>
<ul>
  {% for e in events|slice:":7" %}
    <li class="weekly-day">
      <p></p>
    </li>
  {% endfor %}
</ul>

<!-- Monthly -->
<h3>Monthly events calendar</h3>
<ul>
  {% for e in events|slice:":7" %}
    <li class="monthly-day">
      <p></p>
    </li>
  {% endfor %}
</ul> 


