{% comment %}
template to be included inside the #eventsFeed ul
{% endcomment %}


{% for e in events|slice:":4" %}
<li>
	<section>
    	<h4 class="feed-item-title event-title">{{ e.name }}</h4>
        <p>{{ e.dtstart }} - {{ e.dtend }}</p> 
    	<p>{{ e.place.location.address }}</p> 
        <a href="#eventsTile" class="eventsLink panel">More info...</a>
    </section>
    <div class="thumb-container">
        <img src="{{ e.image_url }}" />
    </div>
</li>
    <!--{% if not forloop.last %}
    	<hr>
    {% endif %}-->
{% endfor %}