{% comment %}
template to be included inside the #sammich-board div
{% endcomment %}

{% for o in offers|slice:":2" %}
	<li>
		<aside>
			<span class="points">+{{ o.point_value }}</span>
			<p class="checkin-prompt-link">Grab it</p>
		</aside>
	    <h4 class="feed-item-title">{{ e.name }}{{ o.description }}</h4>
		    
			<!--<img height="100px" width="100px" src="{{ o.sponsor.identity.avatar }}" />
			<div class="checkin-prompt">
				<h3>{{ o.description }}</h3>
				<img height="100px" width="100px" src="{{ o.sponsor.identity.avatar }}" />
			</div>-->
		</section>
    </li>
{% endfor %}
