{% comment %}
template to be included inside the #places div
{% endcomment %}

{% for o in offers %}
	<li>
		<section>
			<span class="points">+ {{ o.point_value }}</span>
		    <h4 class="item-title">{{ o.description }}</h4>
		    <p class="checkin-prompt-link">Take advantage of this deal</p>
			<img height="100px" width="100px" src="{{ o.sponsor.identity.avatar }}" />
			<div class="checkin-prompt"> <!-- not working right now -->
				<h3>{{ o.description }}</h3>
				<img height="100px" width="100px" src="{{ o.sponsor.identity.avatar }}" />
			</div>
		</section>
    </li>
{% endfor %}
