{% extends "feed_item.html" %}

{% block feed_item_title %}{{ o.description }}{% endblock %}

{% block feed_item_content %}

	{% if o.point_value %}
		<p>{{ o.point_value }}</p>
	{% endif %}
	
	{% if o.sponsor %}
  		<p>{{ o.sponsor }}</p>
  	{% endif %}

  	<!-- <li>o.expiration_date</li> -->

{% endblock %}

{% comment %}
-----------------------------------------
-----Need a thumbnail slot in object-----
-----------------------------------------
{% block feed_item_image_url %}

	{% if o.image_url %}
		{{ o.image_url }}
	{% else %}
		http://www.nasm.si.edu/images/collections/media/thumbnails/DefaultThumbnail.gif
	{% endif %}

{% endblock %}
-----------------------------------------
{% endcomment %}

{% block feed_item_more_url %}
	/specials/{{ o.id }}/
{% endblock %}