{% extends "feed_item.html" %}

{% block feed_item_title %}{{ o.description }}{% endblock %}

{% block feed_item_content %}

	{% if o.point_value %}
		<li>{{ o.point_value }}</li>
	{% endif %}
	
	{% if o.sponsor %}
  		<li>{{ o.sponsor }}</li>
  	{% endif %}

  	<!-- <li>o.expiration_date</li> -->

{% endblock %}

{% comment %}
-----------------------------------------
-----Need a thumbnail slot in object-----
-----------------------------------------
{% block feed_item_image_url %}

	{% if o.image_url %}

		{{ o.image_url }}

		{% block feed_item_image_alt %}
			{{ o.description }}
		{% endblock %}

	{% endif %}

{% endblock %}
-----------------------------------------
{% endcomment %}

{% block feed_item_more_url %}
	{{ ROOT_DIR }}/specials/{{ o.id }}/
{% endblock %}