/* 768 */
body {
  width: 100%;
  zoom: 1;
  margin: 0;
  padding: 0;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  font-size: 13px;
}
article {
  display: inline-block;
  width: 100%;
  zoom: 1;
}
article:before, article:after {
  content: "";
  display: table;
}
article:after {
  clear: both;
}
