/* 992 */

@import 'lib.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 0;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////


// element styles

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font: 16px 'NobileRegular', 'Verdana', sans-serif;
}

h1 a {
	font: 2em 'ChunkFiveRegular', sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	color: #000;
	.text-shadow(2px, 2px, 2px, #fff);
}

h3 {
	font: 1.3em 'ChunkFiveRegular', 'Verdana', sans-serif;
	letter-spacing: 2px;
	color: #101010;
	.text-shadow(0, 0, 1px, #fff);
}

h4 {
	margin: 1% 0;
}


ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.item-content-container {
	height: 95%;
	width: 90%;
	margin: 5% auto;


	article {
		height: 100%;
		overflow: hidden;
	}
}




// panel utilities and containers

#wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	overflow: hidden;
}

#mask {
	width:500%;
	height:100%;
}

.item {
	width:19.6%;
	padding: 0.2%;
	height:99.6%;
	float:left;
	background-image: url('/static/img/stormy-sky.jpg');

	.main {

		overflow: hidden;
		background-image: url('/static/img/limestone.jpg');
		//background-color: #ccc;
		//.rounded-all(1em);
		.box-shadow(1px, 1px, 1px, #000);
		width: 93%;
		padding: 2%;
		margin: 0 1.5% 3% 1.5%;

		header {
			background-image: url('/static/img/dark-yellow-diagonal.png');
			padding: 1% 1.5%;
			.rounded-all(0.2em);
			.box-shadow(3px, 3px, 1px, #000);
		}

		section {
			margin: 3% 0;
			padding: 3%;
			.box-shadow(1px, 1px, 1px, #000);
			background-image: url('/static/img/eggshell.jpg');
			.rounded-all(0.2em);
		}
	}
}

.clear {
	clear: both;
}

.selected {
	background-color: #fff;
}


// header and nav

.site-nav {
	width: 9em;
	height: 9em;
	position: absolute;
	right: 0;
	z-index: 999;
	.box-shadow(3px, 3px, 3px, #000);
	.rounded(0, 0, 0, 7em);
	
	ul {
		float: right;
		position: relative;
		bottom: 0.5em;
		right: 0.5em;
		.row {
			margin-bottom: 2%;
		}

		text-align: center;

		li {
			width: 2em;
			height: 2em;
			float: left;
			position: relative;
			top: 1em;

			&.active {
				background: #fff url('/static/img/site-nav-sprite.png');
				.rounded-all(7em);
				
				&.stats {
					background-position: 100px 100px;
				}

				&.events {
					background-position: 20px 20px;	
				}

				&.ataglance {
					background-position: 200px 200px;		
				}

				&.places {
					background-position: 20px 400px;	
				}

				&.chatterbox {
					background-position: 400px 400px;		
				}

				

				a {	
					font-size: 0.6em;
					.text-shadow(3px, 3px, 2px, #999);
					color: #000;

					&:hover {
						.text-shadow(2px, 2px, 1px, #666);
					}

					&:active {
						.text-shadow(1px, 1px, 1px, #000);
					}
				}
			
			}
			
		}
	}
}


.site-head {
	.row();
	
	position: absolute;
	z-index: 100;

	.utilities-nav {
		background-image: url('/static/img/navy-diagonal.png');
		.box-shadow(0, 0.1em, 0.1em, #000);
		.row();
		color: #fff;
		.text-shadow(0.02em, 0.02em, 0.05em, #000);

		.user-nav {
			.column(6);
			float: right;
			height: 100%;
			margin-right: 9em;
			li {
				float: right;
				padding: 1%;
			}
		}

		.scenes-nav-utility {
			margin-left: 1%;
			margin-top: 0.5%;
			float: left;
			.dropdown-title {
				float: left;
				cursor: pointer;
			
				&:hover {
					background-color: #000;
					.rounded-all(1em);
				}
			}
		}
	}

	.scenes-nav {
		display: none;
		position: absolute;
		z-index: 500;
		background-image: url('/static/img/stormy-sky.jpg');
		padding: 1%;
		li {
			.text-shadow(1px, 1px, 1px, #fff);	
		}
	}

	.title-filter {
		.column(9);
		.scene-name {
		
		}	
	}

	
}


// main articles and their sections

.scene-events {
	.column(4);
	.events-feed {
		height: 95%;	
	}
	
}

.scene-places {
	.column(5);
	.sammich-board {
		height: 33%;
		.rounded-all(0px);
		.box-shadow(2px, 2px, 2px, #000);
	}

	.establishments {
		height: 60%;
	}
}

.scene-updates {
	.column(3);

	.chatter-feed, .news-item {
		
	}	

	.chatter-feed {
		height: 63%;		
	}

	.news-item {
		height: 30%;
	}
}


// footer

.ticker {
	.row();
	height: 7%;
	position: absolute;
	bottom: 0;
	z-index: 900;
	.box-shadow(0px, 0px, 4px, #000); 
		-moz-box-shadow: 0px 0px 4px #000; 
			box-shadow: 0px 0px 4px #000; 
	background-image: url('/static/img/dark-yellow-diagonal.png');
	overflow: auto;
	
	.arrow-slide {
		margin: auto;
		width: 20px;
		height: 40px;
		&.left {
			float: left;
			background: #fff url('/static/img/arrow-sprite.png') no-repeat 0 4px;
	      
			&:hover {
				background-position: -20px 4px;
			}
	      
			&:active {
				background-position: -40px 4px;
			}
		}

		&.right {
			float: right;
			background: #fff url('/static/img/arrow-sprite.png') no-repeat -60px 4px;

			&:hover {
				background-position: -80px 4px;
			}

			&:active {
				background-position: -100px 4px;
			}
		}
	}

	ul {
		margin: 0 auto;
		.column(9);

		li {
			text-align: center;	
			.row();
			margin: 0 auto;
			
			.item-title {
				display: inline;
			}

			.points {
				float: left;
				font-size: 2em;
				text-shadow: 0.1em 0.1em 0 #fff;
				font-weight: bold;
				font-style: italic;
				margin: 0.5%;
			}		 

			img {
				float: right;
			}
					
		}
	}
}


// create one column when resolution is less than 720px

/*@media screen and (max-width: 720px) {
	#wrapper {
		overflow: auto;
	}

	.scene-events, .scene-places, .scene-updates {
		.row();
		margin-bottom: 1em;
	}
}*/