/* 992 */

@import 'lib.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 0;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////


// element styles

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font: 15px 'NobileRegular', 'Verdana', sans-serif;
	line-height: 1.2;
	background-image: url('/static/img/stormy-sky.jpg');
}

h1 a {
	font: 1.5em 'ChunkFiveRegular', sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	color: #000;
	.text-shadow(2px, 2px, 0px, #fff);
}

h3 {
	font: 1.1em 'UniversalfruitcakeRegular', 'Verdana', sans-serif;
	letter-spacing: 2px;
	color: #101010;
	.text-shadow(0, 0, 1px, #fff);
}

h4 {
	margin: 2% 0;
}

p {
	font-size: 0.9em;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}

}


// panel utilities and containers

.clear {
	clear: both;
}

#wrapper {
	width: 100%;
	height: 95%;
	position: absolute;
	top: 2em;
	left: 0;
	overflow: hidden;
}

#mask {
	width:500%;
	height:100%;
}

.item {
	width: 20%;
	padding: 0.2%;
	height: 80%;
	float: left;
	background-color: transparent;

	.main {
		overflow: hidden;
		width: 93%;
		height: 90%;
		padding: 2%;
		margin: 0 1.5% 3% 1.5%;

		header {
			background-image: url('/static/img/dark-yellow-diagonal.png');
			padding: 0.7% 0.7%;
			margin-bottom: 1%;
			.rounded-all(0.2em);
			.box-shadow(3px, 3px, 1px, #000);
		}

	}	
}	

.item-content-container {
	height: 90%;
	width: 80%;
	margin: 1.5% auto;
	padding: 2%;
	position: relative;
	z-index: 100;
	overflow: hidden;
	.rounded-all(0.5em);
	.box-shadow(0, 0, 1em, #000);

	// http://stackoverflow.com/questions/796087/make-a-div-into-a-link
	.panel span {
		position:absolute; 
		width:100%;
		height:100%;
		top:0;
		left: 0;
		z-index: 1; 

		&:hover {
			background-color: fadeout(#fff, 65%);
		}
	}

	article {
		height: 100%;
		overflow: hidden;

		// Hack - need to remove the class with jQuery
		position: relative;
		z-index: 2;

		&.tile-list {
			.column(5);
		}

		&.tile-map {
			.column(6.5);
			float: right;
		    height: 98%;
		    z-index: 1;
		    padding: 0.5%;
		    background-color: #fff;
		    .box-shadow(1px, 1px, 2px, #444);

		    .map-content {
			    width: 100%;
			    height: 100%;
			    position: relative;
			    z-index: 2;
			  }
		}
	}
}

.thumb-container {
	.column(3);
	overflow: hidden;
}



// style utilities

.panel-title {
	font-family: 'RabioheadRegular', 'Arial', sans-serif;
	font-size: 3em;
	border-bottom: 1px solid #000;
	.text-shadow(0, 0, 1px, #fff);
}

.feed-item-title {
	font-family: 'NobileRegular';
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
}

.meta {
	font-size: 0.7em;
	font-color: #888;
}

.block-list {
	height: 100%;
	li {
		margin: 3% 0;
		padding: 2%;
		.box-shadow(2px, 2px, 2px, #111);
		background-image: url('/static/img/eggshell.jpg');
		.rounded-all(0.2em);
	}


	&.thumbnail-list {

		li {
			// PIXELS!! BAD NEWS
			.column(3.26);
			height: 135px;
			margin: 1%;
			text-align: center;
			overflow: hidden;
			
			.feed-item-title {
				font-size: 0.8em;
			}

			img {
				width: 100px;
				height: 100px;
			}
		}
	}
}

.page-list {

	li {
		.clearfix;
		margin: 3% 0;
		padding: 2%;
		border-bottom: 2px solid #fff;

		section {
			.column(8.5);
		}

		img {
			width: 100px;
			height: 100px;
			float: right;
		}
	}	
}

.current-filters-list {
	li {
		float: left;
		font-size: 0.9em;
		.rounded-all(5px);
		padding: 2px;
		margin: 3px;
		.gradient(#ccc, #fff);
		.remove-filter {
			color: #000;
			padding: 2px;
			text-shadow: 1px 1px 1px #fff;
			cursor: pointer;

			&:before {
				content: "x";	
				font-size: 0.8em;			
			}
		}
	}
}

// header and nav

.site-nav {
	width: 10em;
	height: 8em;
	position: absolute;
	right: 0;
	z-index: 999;
	.box-shadow(3px, 3px, 3px, #000);
	.rounded(0, 0, 0, 0.9em);
	background-image: url('/static/img/earth.jpg');
	
	ul {
		float: right;
		position: relative;
		bottom: 0.8em;
		right: 0.2em;

		.row {
			margin-bottom: 2%;
		}

		text-align: center;

		li {
			width: 3em;
			height: 2em;
			float: left;
			position: relative;
			top: 1em;

			.middle {
				top: 1.5em;
			}

			a {	
				text-decoration: none;
				font-size: 0.6em;

				
				.text-shadow(3px, 3px, 2px, #999);
				color: #fff;
				text-decoration: non;
				
				&.selected {
					background-color: #999;
				}

				&:hover {
					.text-shadow(2px, 2px, 1px, #666);
				}

				&:active {
					.text-shadow(1px, 1px, 1px, #000);
				}
			}			
		}
	}
}


.site-head {
	.row();	
	position: absolute;
	z-index: 800;

	.title-filter {
		.column(6);
		float: left;
		padding: 1%;
		background-image: url('/static/img/sand.jpg');
		.box-shadow(0, 2px, 3px, #000);
		.rounded(0, 0, 0.2em, 0.2em);
		.scene-name {
			float: left;
			margin-right: 1%;
		}
	}

	.utilities-nav {
		background-image: url('/static/img/limestone.jpg');
		.box-shadow(0, 0.1em, 0.1em, #000);
		.column(5);
		color: #fff;
		.text-shadow(0.02em, 0.02em, 0.05em, #000);
		height: 2em;

		.user-nav {
			
			height: 100%;
			margin-right: 1em;
			li {
				float: right;
				padding: 2%;
			}
		}

		.scenes-nav-utility {
			margin-left: 1%;
			margin-top: 0.5%;
			float: left;
			.dropdown-title {
				float: left;
				cursor: pointer;
			
				&:hover {
					background-color: #000;
					.rounded-all(1em);
				}
			}
		}
	}

	.scenes-nav {
		display: none;
		position: absolute;
		z-index: 500;
		top: 2em;
		background-image: url('/static/img/limestone.jpg');
		padding: 1%;
		.box-shadow(2px, 2px, 2px, #000);
		li {
			.text-shadow(1px, 1px, 1px, #fff);	
		}
	}
	
}


/*******************************/
/****** AT A GLANCE STYLE ******/
/*******************************/

#atAGlanceTile {
	.item-content-container {
		background-image: url('/static/img/limestone.jpg');
	}
}

.scene-events {
	.column(4);
	.events-feed {
		height: 95%;	
		
		li {
			margin: 3% 0;
			padding: 2%;
			.clearfix;

			section {
				.column(9);	
			}

			img {
				height: 70px;
				width: 70px;
			}
		}
	}
	
}

.scene-board-places {
	.column(5);
	height: 100%;

	.sammich-board {
		height: 25%;

		ul {
			width: 100%;
			height: 100%;
			li {
				float: left;
				.column(5);
				margin: 2%;
				height: 57%;
				overflow: hidden;
						
				aside {
					.column(3.5);
					.points {
						font-size: 2.2em;
						font-family: 'RabioheadRegular';
						.text-shadow(2px, 2px, 0px, @yellow);
					}
				}

				.feed-item-title {
					font-size: 0.9em;
				}

			}

		}
	}

	.establishments {
		height: 60%;
		.page-list {
			li {
				img {
					height: 50px;
					width: 50px;
				}	
			}	
		}
	}
}

.scene-updates {
	.column(3);
	height: 100%;
	overflow: auto;
	.chatter-feed {
		height: 63%;	
		
		img {
			width: 20px;
			height: 20px;
		}
	}

	.news-item {
		height: 30%;
	}
}


/**************************/
/****** EVENTS STYLE ******/
/**************************/

#eventsTile {
	.item-content-container {
		left: 16%;
		background-image: url('/static/img/sand.jpg');
	}
}



/**************************/
/****** PLACES STYLE ******/
/**************************/

#placesTile {
	.item-content-container {
		//bottom: 16%;
		background-image: url('/static/img/sand.jpg');
	}

}


/*******************************/
/****** CHATTER BOX STYLE ******/
/*******************************/

#chatterBoxTile {

	.item-content-container {
		right: 16%;
		background-image: url('/static/img/sand.jpg');
		overflow: auto;
	}

	.chatter-post-form {
		.column(5);
		margin: 2% 0 0 2%;
	}

	form {
		.column(8);
		input[type=text] {
			width: 90%;
		}
	}

	header {
		.row();
		border-bottom: 1px solid black;
		
	}

	.panel-title {
		border-bottom: none;
		float: left;
	}

	.category-tabs {
		.row();

		li {
			a {
				cursor: pointer;
				float: left;
				margin: 0 1%;
				padding: 1%;
				background-image: url('/static/img/limestone.jpg');
				.rounded-all(0.5em);	
				.box-shadow(0.1em, 0.1em, 0.2em, #000);
		
				&:hover {
					.box-shadow(0.1em, 0.1em, 0.1em, #444);
				}

				&.selected {
					.box-shadow(0, 0, 0.2em, #fff);
				}	
			}
			
		}
	}

	.category-tabs-content .block-list {

		li {

			margin: 1% 0;
			padding: 1%;
			
			header {
				.row();
				
				&.post-head {
					border-bottom: none;
					cursor: pointer;
					-moz-transition: background-color 0.3s ease 0.2s;
					-webkit-transition: background-color 0.3s ease 0.2s;
					-o-transition: background-color 0.3s ease 0.2s;
					transition: background-color 0.3s ease 0.2s;

					&:hover {
						background-color: blue;
					}	
				}

				.feed-item-title {
					margin: 0;	
				}

				img {
					width: 20px;
					height: 20px;
				}

				.meta {
					position: relative;
					bottom: 0.5em;
					left: 0.5em;
				}
			}

			.post-body {
				.row();
				height: auto;
				.post-content {
					margin: 3%;
				}
			}

			.comments {
				li {
					margin: 1%;
					
					header {
						.row();
						margin-bottom: 1%;
					}
					background-image: url('/static/img/sand.jpg');
					//.gradient(#f2f2f2, #fff);
					.box-shadow(0, 0.3em, 0.3em, #fff);
					//border: 2px solid #ccc;	
				}
			}
		}
	}
}

.voting {
	.column(0.5);
	div {
		height: 15px;
		width: 18px;
	}
}

.upvote {
	background: url('/static/img/votingarrows.png') no-repeat left top;
	&:hover {
		background-position: right top;
	}
}

.downvote {
	background: url('/static/img/votingarrows.png') no-repeat left bottom;

	&:hover {
		background-position: right bottom;
	}
}
