@import 'lib.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 0;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////


html, body {
	height: 100%;
}

h1, h2, h3 {
	margin: 0;	
}

article {
	height: 90%;
}

#wrapper {
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	background-color:#ccc;
	overflow:hidden;
}

#mask {
	width:500%;
	height:100%;
	background-color:#eee;
}

.item {
	width:20%;
	height:100%;
	float:left;
	background-color:#ddd;
}

.clear {
	clear: both;
}

// header
.scene-header {
	height: 10%;
	background-color: grey;
}

// main articles and their sections
.scene-events {
	.column(4);
	background-color: yellow;
	.events-feed {	
		height: 100%;
	}
}

.scene-places {
	.column(5);
	background-color: green;
	.map, .establishments {
		.row();
	}

	.map {
		height: 40%;
	}

	.establishments {
		height: 60%;
	}
}

.scene-updates {
	.column(3);
	background-color: blue;	
	.chatter-feed, .news-item {
		.row();
	}	

	.chatter-feed {
		height: 70%;
	}

	.news-item {
		height: 30%;
	}
}


@media screen and (max-width: 720px) {
	.scene-events, .scene-places, .scene-updates {
		.row();
		margin-bottom: 1em;
	}
}