@import 'lib.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 0;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////


// element styles

html, body {
	height: 100%;
	font-family: 'Arial', sans-serif;
}

h1, h2, h3, p {
	margin: 0;
}

h4 {
	margin: 1% 0;
}


ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

article {
	height: 100%;
	section {
		overflow: auto;
	}
}


// panel utilities and containers

#wrapper {
	width: 100%;
	height: 78%;
	position: absolute;
	top: 15%;
	left: 0;
	background-color: #ccc;
	overflow: hidden;
}

#mask {
	width:500%;
	height:100%;
	background-color:#eee;
}

.item {
	width:20%;
	height:100%;
	float:left;
	background-color:#ddd;
}

.clear {
	clear: both;
}

.selected {
	background-color: #fff;
}


// header and nav

.site-head {
	.row();
	height: 15%;
	.sticky();
	background-color: grey;

	.utilities-nav {
		background-color: orange;
		.row();
		
		.dropdown-title {
			float: left;
			margin: 0;
			padding: 0.5%;
			cursor: pointer;
			&:hover {
				background-color: magenta;
			}
		}

		.user-nav {
			.column(6);
			float: right;
			background-color: whitesmoke;
			height: 100%;
			li {
				float: right;
				padding: 1%;
			}
		}
	}

	.scenes-nav { // Space between this and utilities-nav, not sure why
		display: none;
		position: absolute;
		z-index: 500;
		background-color: purple;
		li {
			
		}
	}

	.site-nav {
		.column(2);
		float: right;
		margin-top: 1%;

		ul {

			.row {
				margin-bottom: 2%;
			}

			text-align: center;

			li {
				display: inline;
				background-color: green;
				
				&:hover {
					background-color: magenta;
				}
			}
		}
	}

	.title-filter {
		.column(9);
	
		.scene-name {
		
		}	
	}

	
}


// main articles and their sections

.scene-events {
	.column(4);
	background-color: yellow;
	.events-feed {	
		height: 100%;
	}
}

.scene-places {
	.column(5);
	background-color: green;
	.map, .establishments {
		.row();
	}

	.map {
		height: 40%;
		background-color: limegreen;
	}

	.establishments {
		height: 60%;
	}
}

.scene-updates {
	.column(3);
	background-color: blue;	
	.chatter-feed, .news-item {
		.row();
	}	

	.chatter-feed {
		height: 70%;
	}

	.news-item {
		height: 30%;
		background-color: aqua;
	}
}


// footer

.ticker {
	.row();
	height: 7%;
	position: absolute;
	bottom: 0;
	z-index: 900;
	-webkit-box-shadow: 0px 0px 4px #000; 
		-moz-box-shadow: 0px 0px 4px #000; 
			box-shadow: 0px 0px 4px #000; 
	background-color: red;
	overflow: auto;
	
	.arrow-slide {
		margin: auto;
		width: 20px;
		height: 40px;
		&.left {
			float: left;
			background: #fff url('/static/img/arrow-sprite.png') no-repeat 0 4px;
	      
			&:hover {
				background-position: -20px 4px;
			}
	      
			&:active {
				background-position: -40px 4px;
			}
		}

		&.right {
			float: right;
			background: #fff url('/static/img/arrow-sprite.png') no-repeat -60px 4px;

			&:hover {
				background-position: -80px 4px;
			}

			&:active {
				background-position: -100px 4px;
			}
		}
	}

	ul {
		margin: 0 auto;
		.column(9);

		li {
			text-align: center;	
			.row();
			margin: 0 auto;
			background-color: #ccc;
			
			.item-title {
				display: inline;
			}

			.points {
				float: left;
				font-size: 2em;
				text-shadow: 0.1em 0.1em 0 #fff;
				font-weight: bold;
				font-style: italic;
				margin: 0.5%;
			}		 

			img {
				float: right;
			}
					
		}
	}
}


// create one column when resolution is less than 720px

@media screen and (max-width: 720px) {
	#wrapper {
		overflow: auto;
	}

	.scene-events, .scene-places, .scene-updates {
		.row();
		margin-bottom: 1em;
	}
}