{% extends "feed_item.html" %}

{% block feed_item_title %}
	{{ a.title }}
{% endblock %}

{% block feed_item_content %}

	{% if a.source_name %}
		<p>
			{% if a.source_url %}
				{{ a.source_name }}
			{% else %}
				{{ a.source_name }}	
			{% endif %}
		</p>
	{% endif %}

	{% if a.pub_date %}
		<p>{{ a.pub_date }}</p>
	{% endif %}

	{% if a.short_description %}
		<p>{{ a.short_description }}</p>
	{% endif %}

{% endblock %}

{% comment %}
-----------------------------------------
-----Need a thumbnail slot in object-----
-----------------------------------------
{% block feed_item_image_url %}

	{% if a.image_url %}
		{{ a.image_url }}
	{% else %}
		http://www.nasm.si.edu/images/collections/media/thumbnails/DefaultThumbnail.gif
	{% endif %}

{% endblock %}
-----------------------------------------
{% endcomment %}

{% block feed_item_more_url %}
	/news/{{ a.id }}/
{% endblock %}