<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>Oakland Scene</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Home screen icon  Mathias Bynens http://goo.gl/6nVq0 -->
  <!-- For iPhone 4 with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/h/apple-touch-icon.png">
  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/m/apple-touch-icon.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/l/apple-touch-icon-precomposed.png">
  <!-- For nokia devices: -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/l/apple-touch-icon.png">

  <!--iOS web app, deletable if not needed -->
  <!--the script prevents links from opening in mobile safari. https://gist.github.com/1042026
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
  <link rel="apple-touch-startup-image" href="img/l/splash.png">-->

  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <meta http-equiv="cleartype" content="on">

  <!-- more tags for your 'head' to consider https://gist.github.com/849231 -->

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=1">

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="{{ STATIC_URL }}js/libs/modernizr-custom.js"></script>

  <!-- Media Queries Polyfill https://github.com/shichuan/mobile-html5-boilerplate/wiki/Media-Queries-Polyfill -->
  <script>Modernizr.mq('(min-width:0)') || document.write('<script src="{{ STATIC_URL }}js/libs/respond.min.js">\x3C/script>')</script>
</head>

<body>

  <header>
  
    <hgroup>
      <h1>Oakland Scene</h1>
    </hgroup>

    <nav>
      <ul class="global-nav">
        <li id="homeMenuItem">At a Glance</li>
        <li id="placesMenuItem">Places</li>
        <li id="eventsMenuItem">Events</li>
        <li id="newsMenuItem">News</li>
        <li id="offersMenuItem">Sammich Board</li>
      </ul>
    </nav>

  </header>

  <div class="main">
  
  <!-- To be consolidated into "At A Glance" template -->

    <header>
      <h2>At a Glance...</h2>
    </header>

    <section class="feed">

      <header>
        <h1 class="feed-title">Soonest Events</h1>
      </header>
      <ul id="eventsFeed"><!-- events_feed template --></ul>
      <p class="see-more"><a>More events...</a></p>

    </section>
 
    <!-- No decision on how this will function yet ***
    <section class="feed" id="placesFeed">
      
      <header>
        <h1 class="feed-title">Smattering of Places</h1>
      </header>

      <article class="feed-item">
        <h1 class="feed-item-title">Place Name</h1>
        <div class="feed-item-content">
          <ul>
            <li>Address</li>
            <li>Description</li>
            <li><a href="">Details...</a></li>
          </ul>
        </div>
        <div class="feed-item-thumb">
          <img src="" alt="" />
        </div>
      </article>
      
      <p class="see-more"><a>See more...</a></p>

    </section>
    *** end places -->
   
   
    <section class="feed">

      <header>
        <h1 class="feed-title">Sammich Board</h1>
      </header>
      <ul id="offersFeed"><!-- sammichboard_feed template --></ul>
      <p class="see-more"><a>More Sammiches...</a></p>

    </section>

 
 
    <section class="feed">

      <header>
        <h1 class="feed-title">Scene News</h1>
      </header>
      <ul id="newsFeed"><!-- news_feed template --></ul>
      <p class="see-more"><a>More news...</a></p>

    </section>

  <!-- end "At a Glance" template-->

  </div>

  <footer class="scene-footer">
  
  </footer>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via ant build script -->
  <script src="{{ STATIC_URL }}js/mylibs/helper.js"></script>
  <!-- end concatenated and minified scripts-->

  <!-- Sceneable Scripts -->
  <script src="{{ STATIC_URL }}js/script.js"></script>

  <script>
    // iPhone Scale Bug Fix, read this when using http://www.blog.highub.com/mobile-2/a-fix-for-iphone-viewport-scale-bug/
    MBP.scaleFix();
  </script>

  <!-- Debugger - remove for production -->
  <!-- <script src="https://getfirebug.com/firebug-lite.js"></script> -->

  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>
  
</body>
</html>
