{% comment %}
template to be included inside a #chatter-tab-* div
{% endcomment %}

{% for post in posts %}
    <li id="{{id_prefix}}post-{{forloop.counter}}" class="post">

        <header class="post-head"> 

            <aside class="voting">
                <div class="upvote"></div>
                <p class="numvotes">20</p>
                <div class="downvote"></div>    
            </aside>

            <h4 class="feed-item-title">{{ post.title }}</h4>
            <img src="{{ post.author.avatar }}" width="30px" height="30px"> 
            <span class="meta">by {{ post.author.display_name }}, {{ post.dt|timesince }} ago</span>

        </header>
         
        <article class="post-body"> 
            {% if post.image_url %}
            <div class="post-image-container">
                <img src="{{ post.image_url }}">
            </div>
            {% endif %}

            <p class="post-content">{{ post.content }}</p>

            {% if post.comment_set.all %}
                <ul class="comments block-list">
                {% for comment in post.comment_set.all %}
                    <li class="comment-content">
                        <header>
                            <img src="{{ comment.commenter.avatar }}"><span class="meta">by {{ comment.commenter.display_name }}, {{ comment.dt|timesince }} ago</span>
                        </header>
                        <p>{{ comment.content }}</p>
                    </li>
                {% endfor %}

                </ul>
            {% endif %}

            <div class="chatter-post-form">
                <form>
                    <input type="text" placeholder="Add a comment..." />  
                </form>
                
                <input type="button" id="add-chatter-post" value="Post" />
            </div>

        </article>
    </li>
{% endfor %}

