{% comment %}
template to be included inside a #chatter-posts ul
{% endcomment %}

{% for post in posts %}
    <li class="post-teaser ui-corner-all">
        <h4>{{ post.title }}</h4>
        <p>
            <img src="{{ post.author.avatar }}" width="30px" height="30px">
            <span class="meta">by {{ post.author.display_name }} 
                <span class="timesince">{{ post.dt|timesince }}</span> ago
            </span>
        </p>
    </li>
    <!--{% if not forloop.last %}
        <hr>
    {% endif %}-->
{% endfor %}