
<nav id="globalNav" class="site-nav" data-role="navbar">
  <ul>
    <li class="selected-menu-item"><a href="/">Hot</a></li>
    <li class="places-page-link"><a href="/places">Places</a></li>
    <li class="events-page-link"><a href="/events">Events</a></li>
    <li class="news-page-link"><a href="/news">News</a></li>
    <li class="offers-page-link"><a href="/specials">Specials</a></li>
    <li class="selected-menu-item"><a href="/jobs">Opportunities</a></li>
    <li class="selected-menu-item"><a href="/chatter">Chatter</a></li>
  </ul>
</nav>

