
<nav class="site-nav">
  <ul id="globalNav">
    <li><a href="/" rel="external">Hot</a></li>
    <li><a href="/events" rel="external" data-iconpos="top">Events</a></li>
    <li><a href="/specials" rel="external">Specials</a></li>
    <li><a href="/places" rel="external" data-iconpos="top">Places</a></li>
 	<li><a href="/chatter" rel="external">Chatter</a></li>
    <li><a href="/news" rel="external">News</a></li>
    <li><a href="/jobs" rel="external">Jobs</a></li>
  </ul>
</nav>


<!-- 
<nav id="globalNav">
	<select name="select-choice-a" id="select-choice-a" data-native-menu="false">
	  <option value="hot">Hot</option>
	  <option value="events">Events</option>
	  <option value="places">Places</option>
	  <option value="specials">Specials</option>
	  <option value="news">News</option>
	  <option value="jobs">Jobs</option>
	  <option value="chatter">Chatter</option>
	</select>
</nav> -->