{% extends "base.html" %}

{% block main_body %}
  <div data-role="page" id="wrapper">

    <header data-role="header" class="site-header">
      <h1 id="siteTitle">Oakland !</h1>
      <nav class="quick-nav">
        <ul>
          <li id="switchToMapMode" data-role="button" data-inline="true" data-icon="grid"></li>
          <li id="expandSearch" data-role="button" data-inline="true" data-icon="search"></li>
        </ul>
      </nav>
      {% include "global_nav.html" %}
      
    </header>
    <input type="search" id="search" placeholder="Search Scenable"></input>

    <article data-role="content" class="site-content">
    
      {% block content %}{% endblock %}

    </article>

    <footer data-role="footer" data-theme="d" class="site-footer">
      {% include "global_footer.html" %}
    </footer>

  </div><!-- #wrapper -->

{% endblock %}