<nav data-role="navbar" class="page-nav">
  <ul>
  	<li><a id="expandQuickSearch">Search</a></li>
    <li><a href="/search">Check in</a></li>
    <li><a href="/search">Calendar</a></li>
    <li><a href="/search">Map Mode</a></li>
  </ul>
</nav>

<form class="quick-search">
	<label for="search">Quick search:</label>
	<input type="search" name="keyword" id="keyword" value="" />

	<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
     	<label for="radio-choice-3">Just [current category]</label>

     	<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
     	<label for="radio-choice-4">Everything</label>

	<a href="/search" class="helper" data-rel="dialog">Advanced...</a>
</form>
