	
	<button id="loadRandom">Suprise Me!</button>   

	<!-- <section data-role="collapsible" class="page-search">

	<h3>Search...</h3>
 -->
	<div data-role="fieldcontain">
		<select name="select-choice-0" id="select-choice-1" data-native-menu="false" multiple="multiple">
			<option value="search-by-tag" data-placeholder="true">Search by tag...</option>
			<option value="general-fun">General Fun</option>
			<option value="food">Food</option>
			<option value="outdoors">Outdoors</option>
			<option value="social">Social</option>
			<option value="arts">Arts</option>
			<option value="entertaiment">Entertaiment</option>
		</select>
	</div>

	<!-- 	<label>Address:</label>
		<input type="text" placeholder="Location">
		<br />
		<label>Keyword:</label>
		<input type="text" placeholder="Keyword">
	
	</section> -->