{% include "head.html" %}

<article data-role="page">
	
	<header data-role="header">
		<h1>Oakland Events Search</h1>
	</header>


	<section data-role="content" data-theme="c">
		    <label for="tag-search-choice">Tag search:</label>
		    <select name="tag-search-choice" id="tagSearchChoice" multiple="multiple" data-native-menu="false">

		    	<!-- Will actually be for t in events.tags -->

		    	<option>Add some tags...</option>
		    	<option value="food">Food</option>
		    	<option value="sports-and-outdoors">Sports &amp; Outdoors</option>
		    	<option value="arts">Arts</option>
		    	<option value="music">Music</option>
		    	<option value="social">Social</option>
		    	<option value="fancy">Fancy</option>
		    </select>


		    <label for="search">Search by Keyword:</label>
		    <input type="search" name="keyword" id="keyword" value="" />


		<button id="submitSearch">GO!</button>

		<p id="searchSummary"></p>
	
	</section>

</article>

{% include "foot.html" %}