<!doctype html>

<head>

	<link type="text/css" href="{{ STATIC_URL }}css/reset.css">
	<link rel="stylesheet/less" href="{{ STATIC_URL }}css/semantic.gs.less">

	<title>OIP Tile Layout</title>

</head>

<body>

<header class="site-head">
	
	<nav class="utilities-nav">
	
		<h4 class="dropdown-title" id="scenesMenu">Your Scenes &darr;</h4>

		<ul class="user-nav">
			<li>Settings</li>
			<li>Single Yoi</li>
			<li>60 • 20</li>
			<li>laras126</li>
		</ul>
	
	</nav>

	<nav class="scenes-nav"> <!-- dropdown -->
		<ul>
			<li>Sharing</li>
			<li>Visual Art</li>
			<li>Euentrenpraneurship</li>
			<li>Oakland</li>
			<li>Country Music</li>
		</ul>
	</nav>

	<h1 class="scene-name"><a href="#atAGlanceTile" class="panel">Oakland scene</a></h1>
	
	<nav class="site-nav">
		<ul>
			<li class="row">
				<ul>
					<li></li>
					<li><a href="#statsTile" class="panel">Stats</a></li>			
					<li></li>
				</ul>	
			</li>

			<li class="row">
				<ul>
					<li><a href="#eventsTile" class="panel">Events</a></li>
					<li><a href="#atAGlanceTile" class="panel">Home</a></li>
					<li><a href="#chatterBoxTile" class="panel">Chatter Box</a></li>
				</ul>
			</li>

			<li class="row">
				<ul>
					<li></li>
					<li><a href="#placesTile" class="panel">Places</a></li>			
					<li></li>
				</ul>
			</li>
		</ul>
	</nav>

</header> <!-- .site-head -->

<div id="wrapper">
	<div id="mask">


	<!-- First Row -->

		<div class="item"></div> <!-- top left -->
		
		<div id="statsTile" class="item"> <!-- top middle -->
			<h2>Stats</h2>
		</div> <!-- #statsTile -->


		<div class="item"></div> <!-- top right -->
		<div class="clear"></div>


	<!-- Second Row -->

		<div id="eventsTile" class="item"> <!-- middle left -->
			<h2>Events page</h2>

		</div> <!-- #eventsTile -->


		<div id="atAGlanceTile" class="item"> <!-- middle middle -->

			<!-- Header -->
			<header class="scene-header">
				<h2>Scene at a glance</h2>
			</header>


			<!-- Frontpage Events -->
			<article class="scene-events">
				<h2>Soonest Events</h2>

				<section class="events-feed">
					<ul id="events">Events list template</ul>
				</section>

			</article>


			<!-- Frontpage Places -->
			<article class="scene-places">
				<h2>Map and places</h2>
				<section class="map">
					<h3>Map</h3>
				</section>

				<section class="establishments">
					<header>
						<h3>Top Places</h3>
					</header>
					<ul id="places">Places list template</ul>
				</section>
			</article>

			
			<!-- Frontpage updates -->
			<article class="scene-updates">
				<h2>Scene updates</h2>

				<section class="chatter-feed">
					<h3>Chatter feed</h3>
					<ul class="chatter-posts" id="chatter-teasers">
					</ul>
				</section>

				<section class="news-item">
					<h3>News item</h3>
				</section>
			</article>

		</div> <!-- #atAGlanceTile -->



		<div id="chatterBoxTile" class="item"> <!-- middle right -->
			<h2>Chatter Box</h2>
			<ul id="chatter-tab-1">Hottest chatter posts template</ul>
		</div> <!-- #chatterBoxTile -->

		<div class="clear"></div>



	<!-- Third Row -->
	
		<div class="item"></div> <!-- middle left -->
		
		<div class="item" id="placesTile"> <!-- middle middle -->
			<h2>Places</h2>
		</div> <!-- #placesTile -->


		<div class="item"></div> <!-- middle right -->
		<div class="clear"></div>


	</div> <!-- #mask -->
</div> <!-- #wrapper -->


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js"></script> <!-- Unminified jQuery for development -->
	<script src="{{ STATIC_URL }}js/mylibs/less-1.1.5.min.js"></script>
	<script src="{{ STATIC_URL }}js/mylibs/jquery.scrollTo.js"></script>
	<script src="{{ STATIC_URL }}js/slide.js"></script>
	<script src="{{ STATIC_URL }}js/ajax_loaders.js"></script>

</body>

</html>