<!doctype html>

<head>

	<!--<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.8.16.custom.css" />-->
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/ChunkFive-fontfacekit/stylesheet.css">
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/Lilly-fontfacekit/stylesheet.css">
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/Nobile-fontfacekit/stylesheet.css">
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/Universal-fruitcake-fontfacekit/stylesheet.css">
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/Rabiohead-fontfacekit/stylesheet.css">
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/francois-one-fontfacekit/stylesheet.css">
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
	

	<!-- For Desktop, Tablet, Mobile -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/basic.css">
	<link type="text/css" rel="stylesheet" media="only screen and (max-width: 1360px)" href="{{ STATIC_URL }}css/1360.css">
	<link rel="stylesheet/less" media="only screen and (max-width: 768px)" href="{{ STATIC_URL }}css/992.less">
	<link type="text/css" rel="stylesheet" media="only screen and (max-width: 480px)" href="{{ STATIC_URL }}css/480.css">

	<title>OIP Tile Layout</title>

</head>

<body>

<nav class="utilities-nav">

	<ul class="user-nav">
		<li class="dropdown-title" id="scenesMenu">More Scenes &darr;</li>
		<li>Settings</li>
		<li>Single Yoi</li>
		<li>60 • 20</li>
		<li>laras126</li>
	</ul>

</nav>

<nav class="scenes-nav"> <!-- dropdown -->
	<ul>
		<li>Pittsburgh</li>
		<li>Oakland</li>
		<li>Euentrenpraneurship</li>
		<li>Art</li>
		<li>Music</li>
		<li>Country Music</li>
	</ul>
</nav>

<div class="scene-info">
	<header class="title-filter">
		<p class="descriptor">Welcome to the...</p>
		<h1>Oakland Scene</h1>

		<section class="subscene">
			<h3 class="section-title">Subscenes:</h3>
			<h4 class="section-part-title">Popular</h4>
			<ul class="current-filters-list clearfix">
				<li>Sports</li>
				<li>Museum</li>
				<li>College</li>
				<li>Bars</li>
			</ul>
			<br />
			<br />
			<h4 class="section-part-title">Yours</h4>
			<ul id="current-filters" class="current-filters-list">
				<!-- current filters rendered here -->
			</ul>
			<form>
				<input type="text" id="search-box" placeholder="Find a subscene..." />
				<input type="button" id="add-filter" value="Add" />
			</form>
		</section>
	</header>

	<nav class="site-nav">
		<h3 class="section-title">Site Map:</h3>
		<ul>
			<li>
				<ul>
					<li></li>
					<li class="active middle">
						<a href="#eventsTile" class="eventsLink panel">&larr; Events</a>
					</li>
					<li></li>
				</ul>	
			</li>

			<li class="row">
				<ul>
					<li class="stats active">
						<a href="#statsTile" class="statsLink panel">&uarr;<br />Stats</a>
					</li>	
					<li class="statsLink middle">
						<a href="#atAGlanceTile" class="atAGlanceLink panel">Home</a>
					</li>
					<li class="placesLink active">
						<a href="#placesTile" class="placesLink panel">Places<br />&darr;</a>
					</li>
				</ul>
			</li>

			<li class="row">
				<ul>
					<li></li>
					<li class="chatterbox active middle"><a href="#chatterBoxTile" class="chatterBoxLink panel">Chatter &rarr;</a></li>
					<li></li>
				</ul>
			</li>
		</ul>
	</nav>
</div> <!-- .scene-info -->


<div id="wrapper">
	<div id="mask">

	<!-- First Row -->
			
		<div id="sammichTile" class="item"> <!-- top left -->
			<div class="item-content-container top left">
				<a class="panel sammichLink" href="#sammichTile"><span></span></a>
				<h2 class="panel-title">Sammich Board</h2>
			</div>
		</div> <!-- #sammichTile -->

		<div id="statsTile" class="item"> <!-- top middle -->
			<div class="item-content-container top">
				<a class="panel statsLink" href="#statsTile"><span></span></a>
				<h2 class="panel-title">Stats</h2>
			</div>
		</div> <!-- #statsTile -->


		<div id="opportunitiesTile" class="item"> <!-- top right -->
			<div class="item-content-container top right">
				<a class="panel opportunitiesLink" href="#opportunitiesTile"><span></span></a>
				<h2 class="panel-title">Opportunities</h2>
			</div>
		</div> <!-- #opportunitiesTile -->

		<div class="clear"></div>

	
	<!-- Second Row -->
	
		<div id="eventsTile" class="item panel"> <!-- middle left -->
			<div class="item-content-container middle left">

				<!-- Make panel a link to itself, disabled when it is the current panel. Offset not working here. -->
				<a class="panel eventsLink" href="#eventsTile"><span></span></a>
				<article class="tile-list">
					<h2 class="panel-title">Events</h2>
					<ul id="eventsPage" class="page-list"><!--Places list template--></ul>
				</article>
				<article class="tile-map">
					<div id="map_canvas" class="map-content">
						<!-- Map generated here -->
					</div>
				</article>
			</div>
		</div> <!-- #eventsTile -->


		<div id="atAGlanceTile" class="item"> <!-- middle middle -->
			<div class="item-content-container middle">
				<!-- Make panel a link to itself, disabled when it is the current panel. Offset not working here. -->
				<a class="panel atAGlanceLink" href="#atAGlanceTile"><span></span></a>

				<!--<h2 class="panel-title">At a glance...</h2>-->

				<!-- Frontpage Events -->
				<article class="scene-sammich-events">

					<section class="sammich-board main">
						<header class="section-title">
							<h3 class="section-title">Sammich Board</h3>
						</header>
						<ul id="sandwich-board" class="block-list"><!--Sandwich board list template.--></ul>
					</section>

					<section class="events-feed main">
						<header>
							<h3 class="section-title">Upcoming Events</h3>
						</header>
						<ul id="eventsFeed" class="block-list"><!-- Events List template --></ul>	
					</section>

				</article>


				<!-- Frontpage Places -->
				<article class="scene-board-places">
					<section class="establishments main">
						<header>
							<h3 class="section-title">Hot Spots</h3>
						</header>
						<ul id="placesFeed" class="thumbnail-list block-list"><!-- Places list template --></ul>
					</section>

					<section class="news-item main">
						<header>
							<h3 class="section-title">Burghosphere</h3>
						</header>
						<ul id="burghosphere" class="block-list"><!-- Burgosphere/Articles list template --></ul>
					</section>
				</article>

				<!-- Frontpage updates -->
				<article class="scene-updates">
					<section class="chatter-feed main">
						<header>
							<h3 class="section-title">Scene Chatter</h3>
						</header>
						<ul class="chatter-posts block-list" id="chatter-teasers"></ul>
					</section>

					<section class="featured main">
						<header>
							<h3 class="section-title">Featured</h3>
						</header>
						<p class="descriptor">Featured Sammich/Place/Event/Chatter Post goes here</p>
					</section>
				</article>

			</div> <!-- .item-content-container -->
		</div> <!-- #atAGlanceTile -->



		<div id="chatterBoxTile" class="item"> <!-- middle right -->
			<div class="item-content-container middle right">
				<a class="panel chatterBoxLink" href="#chatterBoxTile"><span></span></a>
				
				<article class="chatter-category-tabs">

					<header>
						<h2 class="panel-title">Chatter Box</h2>
						<div class="chatter-post-form">
							<form>
								<input type="text" placeholder="Post to ChatterBox" />	
							</form>
							<select>
								<option>Type of post</option>
								<option>Pic</option>
								<option>Conversation</option>
								<option>Question</option>
							</select> 
							<input type="button" id="add-chatter-post" value="Post" />
						</div>
					</header>

					<div class="category-tabs">
						<ul>
							<!-- rel attribute doesn't validate here - will change to class --> 
							<li><a rel="chatterHottest" class="default-category">Hottest</a></li>
							<li><a rel="chatterNewest">Newest</a></li>
							<li><a rel="chatterPics">Pics</a></li>
							<li><a rel="chatterConversation">Conversation</a></li>
							<li><a rel="chatterQuestions">Questions</a></li>
						</ul>
					</div>

					<div class="category-tabs-content">
						<ul id="chatterHottest" class="category block-list"><!-- Hottest chatter posts template --></ul>
						<ul id="chatterNewest" class="category block-list"><!-- Hottest chatter posts template --></ul>
						<ul id="chatterPics" class="category block-list"><!-- Pics chatter posts template --></ul>
						<ul id="chatterConversation" class="category block-list"><!-- Conversation chatter posts template --></ul>
						<ul id="chatterQuestions" class="category block-list"><!-- Questions chatter posts template --></ul>
					</div>

				</article> <!-- .chatter-category-tabs -->

			</div> <!-- .item-content-container -->
		</div> <!-- #chatterBoxTile -->

		<div class="clear"></div>



	<!-- Third Row -->
	
		<div class="item"></div> <!-- bottom left -->
		
		<div class="item" id="placesTile"> <!-- bottom middle -->
			<div class="item-content-container bottom">

				<!-- Make panel a link to itself, disabled when it is the current panel. Offset not working here. -->
				<a class="panel placesLink" href="#placesTile"><span></span></a>
			
				<article class="tile-list">
					<h2 class="panel-title">Places</h2>
					<ul id="placesPage" class="page-list"><!--Places list template--></ul>
				</article>
				<article class="tile-map">
					<div id="map_canvas2" class="map-content">
						<!-- Map generated here -->
					</div>
				</article>
			</div> <!-- #placesTile -->
		</div>

		<div class="item"></div> <!-- bottom right -->
		<div class="clear"></div>


	</div> <!-- #mask -->
</div> <!-- #wrapper -->


<!--<footer class="ticker">
	<div class="arrow-slide left"></div>
	<ul id="sandwich-board">Sandwich board list template.</ul>	
	<div class="arrow-slide right"></div>
</footer>-->

	<!-- Libraries and Plugins -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js"></script> <!-- Unminified jQuery for development -->
	<script src="http://maps.google.com/maps/api/js?libraries=places&amp;sensor=false" type="text/javascript"></script>
	<!--<script src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.16.custom.js"></script>-->
	<!--<script src="{{ STATIC_URL }}js/mylibs/less-1.1.5.min.js"></script>-->
	<script src="{{ STATIC_URL }}js/mylibs/jquery.scrollTo.js"></script>
	<script src="{{ STATIC_URL }}js/mylibs/jquery.easing.1.3.js"></script>

	<!-- Site scripts -->
	<script src="{{ STATIC_URL }}js/slide.js"></script>
	<script src="{{ STATIC_URL }}js/ajax_loaders.js"></script>

</body>

</html>