{% extends "page.html" %}

{% block page_nav %}

	{% include "page_nav.html" %}
	<!-- <nav data-role="navbar" class="page-nav">
      <ul>
      	<li><a href="" rel="external">&larr; Back</a></li>
      	<li><a href="/post-form" rel="dialog">Post about it</a></li>
      	<li><a href="" rel="external">I'm here!</a></li>
      	<li><a href="" rel="external">Add to Faves</a></li>
      </ul>
    </nav> -->
{% endblock %}

{% block content %}

	<section id="{% block single_id %}{% endblock %}" class="single-item">

		<header class="single-item-header">
			<div class="single-item-thumb-container">
				<img class="single-item-thumb" alt="{% block single_item_image_alt %}{% endblock %}" src="{% block single_item_image_url %}{% endblock %}" />
			</div>

			<div class="single-item-header-content">
				<h2 class="single-item-title">
				  	{% block single_item_title %}
					{% endblock %}
				</h2>

				{% block single_item_header_content %}
				{% endblock %}

				{% include "tags.html" %}
				
			</div>

		</header>
		
		<section class="single-item-content-container">

	    	{% block single_item_content %}
	    	{% endblock %}

		</section>			
		
		{% block single_item_related %}{% endblock %}	

	</section>

{% endblock %}
