{% extends "feed_item.html" %}

{% block feed_item_title %}{{ c.title }}{% endblock %}

{% block feed_item_content %}
	<p class="meta">by <b>{{ c.author }}</b>, {{ c.dt|timesince }} ago</p>
{% endblock %}

{% block feed_item_image_url %}

	{% if c.image_url %}
		{{ c.image_url }}
	{% else %}
		{% if c.post_type == 'conversation' %}
			http://www.ncvo-vol.org.uk/sites/default/files/UploadedFiles/speech_icon.jpg
		{% endif %}
		{% if c.post_type == 'question' %}
			http://catalyst.harvard.edu/images/footer/question_mark.png
		{% endif %}	
		{% if c.post_type == 'photo' %}
			http://www.nasm.si.edu/images/collections/media/thumbnails/DefaultThumbnail.gif
		{% endif %}	
	{% endif %}

{% endblock %}

{% block feed_item_image_alt %}
	{{ c.name }}
{% endblock %}

{% block feed_item_more_url %}
	/chatter/{{ c.id }}/
{% endblock %}