{% extends "feed_item.html" %}

{% block feed_item_title %}{{ p.name }}{% endblock %}

{% block feed_item_content %}

	{% if p.location.address %}
		<li>{{ p.location.address }}</li>
	{% endif %}

	{% if p.hours %}
 		<li>{{ p.hours }}</li>
 	{% endif %}

 	{% if p.phone %}
  		<li>{{ p.phone }}</li>
	{% endif %}

	{% if p.description %}
  		<li>{{ p.description }}</li>
  	{% endif %}

{% endblock %}

{% block feed_item_image_url %}

	{% if p.image_url %}
		{{ p.image_url }}
	{% endif %}

{% endblock %}

{% block feed_item_image_alt %}
	{{ p.name }}
{% endblock %}

{% block feed_item_more_url %}
	{{ ROOT_DIR }}/places/{{ p.id }}/
{% endblock %}